<% include ./partials/header %> 
<h1 class="text-center">Sign Up</h1>

<div style="width: 30%; margin: 25px auto;">
<form class="form-group" action="/register" method="post">
    <input class="form-control" type="text" name="username" placeholder="username">
    <input class="form-control" type="password" name="password" placeholder="password">
    <input class="form-control" type="text" name="firstName" placeholder="First Name">
    <input class="form-control" type="text" name="lastName" placeholder="Last Name">
    <input class="form-control" type="email" name="email" placeholder="Email">
    <input class="form-control" type="text" name="avatar" placeholder="avatar">
    <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
    <button class="btn btn-info btn-lg btn-block mt-2"> Sign Up</button>
</form>
<a href="/campgrounds">Go Back</a>
</div>

<% include ./partials/footer %> 
